<%= partial('layout_header'); %>
  <script>

    function setTheme(theme) {
      var today = new Date(), expires = new Date();
      expires.setTime(today.getTime() + (365*24*60*60*1000)); //expires in one year
      document.cookie="theme=" + theme + ";expires=" + expires.toGMTString();
      document.getElementById('themeCss').href=theme;
    }

    $.get("http://api.bootswatch.com/3/", function (data) {
      var themesList = document.getElementById('themes');

      //Define the default theme
      themesList.innerHTML += '<li ' +'onclick="setTheme(\'' + "//netdna.bootstrapcdn.com/bootswatch/latest/darkly/bootstrap.min.css" + '\')"><a href="#">Default (Darkly)</a></li>';
      themesList.innerHTML += '<li class=divider </li>';

      data.themes.forEach(function(value){
        themesList.innerHTML += '<li ' +'onclick="setTheme(\'' + value.cssCdn + '\')">'  +  '<a href="#">' + value.name + '</a></li>';
      });
    });
  </script>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="btn-success" href="/">Films</a></li>
            <li><a href="/shows">Séries TV</a></li>
          </ul>

          <form class="navbar-form navbar-right" method="get" action="/" role="search">
            <div class="input-group">
              <input name="search" type="text" class="form-control" placeholder="Rechercher un film">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div><!-- /input-group -->
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/?sort=date">Nouveautés</a></li>
            <li><a href="/?sort=seeds">Populaires</a></li>
            <li><a href="/?sort=rating">Les mieux notés</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Genres <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/?genre=action&sort=seeds">Action</a></li>
                <li><a href="/?genre=adventure&sort=seeds">Aventure</a></li>
                <li><a href="/?genre=animation&sort=seeds">Animation</a></li>
                <li><a href="/?genre=comedy&sort=seeds">Comédie</a></li>
                <li><a href="/?genre=crime&sort=seeds">Crime</a></li>
                <li><a href="/?genre=documentary&sort=seeds">Documentaire</a></li>
                <li><a href="/?genre=drama&sort=seeds">Drame</a></li>
                <li><a href="/?genre=family&sort=seeds">Famille</a></li>
                <li><a href="/?genre=fantasy&sort=seeds">Fantaisie</a></li>
                <li><a href="/?genre=film-noir&sort=seeds">Film-Noir</a></li>
                <li><a href="/?genre=histoy&sort=seeds">Historique</a></li>
                <li><a href="/?genre=horror&sort=seeds">Horreur</a></li>
                <li><a href="/?genre=music&sort=seeds">Musique</a></li>
                <li><a href="/?genre=musical&sort=seeds">Musical</a></li>
                <li><a href="/?genre=mystery&sort=seeds">Mystère</a></li>
                <li><a href="/?genre=romance&sort=seeds">Romance</a></li>
                <li><a href="/?genre=sci-fi&sort=seeds">Sci-Fi</a></li>
                <li><a href="/?genre=sport&sort=seeds">Sport</a></li>
                <li><a href="/?genre=thriller&sort=seeds">Thriller</a></li>
                <li><a href="/?genre=war&sort=seeds">Guerre</a></li>
                <li><a href="/?genre=western&sort=seeds">Western</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Themes <b class="caret"></b>
              </a>
              <ul id="themes" class="dropdown-menu">
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">

    <div id="pub" style="text-align: center;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- mitc movie -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:970px;height:90px"
             data-ad-client="ca-pub-9957828448599605"
             data-ad-slot="5495426390"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <script>
      fuckAdBlock.add(true, function() { alert('Merci de désactiver adblock sur ce domaine.')});
    </script>

      <p align="center">Tous les films et séries que vous voulez, instantanément et en qualité HD (720p) !
        <br>Ce site est à usage strictement privé. Aucun film ou série n'est hébergé sur ce site.
        <br>Vous pourriez rencontrer des problèmes d'accents sur les sous-titres des séries.
      </p>

      <%- displayFlash(flash); %>
      <%- render(); %>
      <div class="player">
      </div>
    </div>
  </body>
<%= partial('layout_footer'); %>
