<%= partial('layout_header'); %>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Films</a></li>
            <li><a class="btn-success" href="/shows">Séries TV (beta)</a></li>
          </ul>
          <form class="navbar-form navbar-right" method="get" action="/shows" role="search">
            <div class="input-group">
              <input name="search" type="text" class="form-control" placeholder="Rechercher une série">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div><!-- /input-group -->
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/shows?lastUpdated=1">Latest</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">

    <div id="pub" style="text-align: center;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- mitc movie -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:970px;height:90px"
             data-ad-client="ca-pub-9957828448599605"
             data-ad-slot="5495426390"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

      <script>
        fuckAdBlock.add(true, function() { alert('Merci de désactiver adblock sur ce domaine.')});
      </script>

      <p align="center">Tous les films et séries que vous voulez, instantanément et en qualité HD (720p) !
        <br>Ce site est à usage strictement privé. Aucun film ou série n'est hébergé sur ce site.
        <br>Vous pourriez rencontrer des problèmes d'accents sur les sous-titres des séries.
      </p>

      <%- displayFlash(flash); %>
      <%- render(); %>
    </div>
  </body>
<%= partial('layout_footer'); %>
